* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    background-color: bisque;
}

.Container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.Modal {
    display: inline-block;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    margin: 0;
    height: 90px;
    width: 500px;
    /* overflow-y: scrolls; */
}

.Input {
    /* padding: 1em; */
    margin-top: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: beige;
    margin-right: 5px;
    margin-left: 30px;
    height: 30px;
    width: 70%;
}

.SubmitButton {
    margin-top: 10px;
    height: 30px;
    width: auto;
    border-radius: 10px;
}

.TaskHeadline {
    display: flex;
    justify-content: center;
    color: rgb(10, 115, 168);
}

.Tasks {
    margin-top: 10px;
}

.List {
    margin-top: 40px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(168, 10, 10);
}

.List li {
    
    margin-left: 50px;
    height: 25px;
    width: 60px;
    line-height: 25px;
}

.List span {
    position: absolute;
    color: rgb(173, 7, 7);
}